#
# carsim systemd service unit file
#

[Unit]
Description=Carsimulator supported by G25 and G27.
After=ambd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/carsim

[Install]
WantedBy=multi-user.target


