#
# carsim systemd service unit file
#

[Unit]
Description=Carsimulator supported by G25 and G27.
After=ambd.service

[Service]
ExecStart=/usr/bin/ico-vic-carsim
